.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.icon-container {
  display: flex;
  align-items: center;
}

#mode-icon {
  width: 20px;
  height: 20px;
}

#btn-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  letter-spacing: 2.5px;
  color: var(--text-color);
  font-weight: bold;
}

#btn-mode:hover {
  cursor: pointer;
}
